<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="keywords" content="admin, dashboard, bootstrap, template, flat, modern, theme, responsive, fluid, retina, backend, html5, css, css3">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
  <link rel="shortcut icon" href="/static/images/index.ico" type="image/png">

  <title> UPOPS | 向上运维平台</title>

    {% include "link_css.html" %}
    {% include "head_script.html" %}
    {% block head_css_js %} {% endblock %}

</head>

<body class="sticky-header">
<section>
    <!-- left side start-->
    <div class="left-side sticky-left-side">
        {% include "nav.html" %}
    </div>
    <!-- left side end-->

    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <div class="header-section">
        {% include "nav_header_section.html" %}
        </div>
        <!-- header section end-->

        {% block content %}{% endblock %}

        <!--footer section start-->
        <footer>
            2016 &copy; UPOPS by czyb360.com
        </footer>
        <!--footer section end-->
     </div>
    <!-- main content end-->
</section>
</body>
    {% include "foot_script.html" %}
    {% block footer_js %} {% endblock %}
</html>
