{% extends "base.html" %}
{% block head_css_js %}
    <!--multi-select-->
    <link rel="stylesheet" type="text/css" href="/static/js/jquery-multi-select/css/multi-select.css" />
{% endblock %}
{% block content %}
    {% load mytags %}
    <!-- page heading start-->
    <div class="page-heading">
        <h3>
            修改密码
        </h3>
        <ul class="breadcrumb">
            <li>
                <a href="{% url 'upops_admin' %}">仪表盘</a>
            </li>
            <li class=""> 修改密码 </li>
        </ul>
    </div>
    <!-- page heading end-->
            <div class="wrapper">
            <div class="row">
                <div class="col-md-8">
                    <section class="panel">
                        <header class="panel-heading">
                            修改密码
                        </header>
                        <div class="panel-body">
                            {% if emg %}
                                <div class="alert alert-warning fade in">
                                <button type="button" class="close close-sm" data-dismiss="alert">
                                    <i class="fa fa-times"></i>
                                </button>
                                <strong>Warning! </strong> {{ emg }}
                            </div>
                            {% endif %}
                            {% if smg %}
                                <div class="alert alert-success fade in">
                                <button type="button" class="close close-sm" data-dismiss="alert">
                                    <i class="fa fa-times"></i>
                                </button>
                                <strong>Sucess! </strong> {{ smg }}
                            </div>
                            {% endif %}
                             <form class="cmxform form-horizontal adminex-form" id="commentForm" method="POST" action="{% url 'set_password' %}">
                                 {% csrf_token %}
                                 <div class="form-group ">
                                        <label for="inputPassword1" class="control-label col-lg-2">新密码 *</label>
                                        <div class="col-lg-4">
                                            <input class=" form-control" id="inputPassword1" name="password" minlength="2" type="password" required/>
                                        </div>
                                 </div>
                                        <div class="col-lg-offset-2 col-lg-10">
                                            <button class="btn btn-primary" type="submit">Save</button>
                                            <button class="btn btn-default" type="button">Cancel</button>
                                        </div>
                                </form>
                            </div>
                        </section>
                    </div>
            </div>
            </div>
            </div>
    {% endblock %}
