{% extends "base.html" %}
{% block content %}
    {% load mytags %}
    <!-- page heading start-->
    <div class="page-heading" xmlns="http://www.w3.org/1999/html">
        <h3>
            添加机房
        </h3>
        <ul class="breadcrumb">
            <li>
                <a href="{% url 'upops_admin' %}">仪表盘</a>
            </li>
            <li class=""> 资产管理 </li>
            <li class="">
                <a href="{% url 'url_list' %}">查看机房 </a>
            </li>
            <li class="active"> 添加机房 </li>
        </ul>
    </div>
    <!-- page heading end-->
            <div class="wrapper">
            <div class="row">
                <div class="col-md-8">
                    <section class="panel">
                        <header class="panel-heading">
                            添加机房
                        </header>
                        <div class="panel-body">
                            {% if emg %}
                                <div class="alert alert-error fade in">
                                <button type="button" class="close close-sm" data-dismiss="alert">
                                    <i class="fa fa-times"></i>
                                </button>
                                <strong>Waring! </strong> {{ emg }}
                            </div>
                            {% endif %}
                            {% if smg %}
                                <div class="alert alert-success fade in">
                                <button type="button" class="close close-sm" data-dismiss="alert">
                                    <i class="fa fa-times"></i>
                                </button>
                                <strong>Sucess! </strong> {{ smg }}
                            </div>
                            {% endif %}
                             <form action="{% url 'asset_add_idc' %}" class="form-horizontal adminex-form cmxform" id="commentForm" method="post">
                             {% csrf_token %}
                                    <div class="form-group ">
                                        <label for="cname" class="control-label col-lg-2">机房名 *</label>
                                        <div class="col-lg-8">
                                            <input class=" form-control" id="cname" name="name" placeholder="数北机房" minlength="2" type="text" required />
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label for="cname" class="control-label col-lg-2">带宽(M)</label>
                                        <div class="col-lg-8">
                                            <input class=" form-control" id="cbandwidth" name="bandwidth" placeholder="0.0M" minlength="2" type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label for="cname" class="control-label col-lg-2">联系人</label>
                                        <div class="col-lg-8">
                                            <input class=" form-control" id="clinkman" name="linkman" placeholder="张三" type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label for="cname" class="control-label col-lg-2">联系方式</label>
                                        <div class="col-lg-8">
                                            <input class=" form-control" id="cphone" name="phone" placeholder="18888888888" minlength="11" type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label for="cname" class="control-label col-lg-2">机房地址</label>
                                        <div class="col-lg-8">
                                            <input class=" form-control" id="caddress" name="address" placeholder="北京市朝阳区XXX" type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label for="cname" class="control-label col-lg-2">IP网段</label>
                                        <div class="col-lg-8">
                                            <input class=" form-control" id="cnetwork" name="network" placeholder="192.168.0.1~192.168.0.150" type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label for="cname" class="control-label col-lg-2">运营商</label>
                                        <div class="col-lg-8">
                                            <input class=" form-control" id="coperator" name="operator" placeholder="18888888888" type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label for="ccomment" class="control-label col-lg-2">备注</label>
                                        <div class="col-lg-8">
                                            <textarea class="form-control " id="ccomment" name="comment"></textarea>
                                        </div>
                                    </div>
                                        <div class="col-lg-offset-2 col-lg-10">
                                            <button class="btn btn-primary" type="submit">Save</button>
                                        </div>
                                </form>
                            </div>
                        </section>
                    </div>

                </div>
            </div>
{% endblock %}