{% extends "base.html" %}
{% block content %}
    {% load mytags %}
    <!-- page heading start-->
    <div class="page-heading">
        <h3>
           查看资产组
        </h3>
        <ul class="breadcrumb">
            <li>
                <a href="{% url 'upops_admin' %}">仪表盘</a>
            </li>
            <li class=""> 资产管理 </li>
            <li class="active"> 查看资产组 </li>
        </ul>
    </div>
    <!-- page heading end-->
            <div class="wrapper">

            <!-- url list -->
            <div  class="row">
                <div class="col-md-10">
                    <section class="panel">
                        <header class="panel-heading">
                            主机组列表信息
                            <span class="tools pull-right">
                                <a href="javascript:;" class="fa fa-chevron-down"></a>
                                <a href="javascript:;" class="fa fa-times"></a>
                                </span>
                        </header>
                        <div class="panel-body">
                            <section id="flip-scroll">
                                    <div class="col-md-3" style="left: -15px">
                                        <a href="{% url 'asset_add_group' %}" class="btn btn-success">添加主机组</a>
                                    </div>
                                        <div class="col-md-3 pull-right" >
                                            <form role="form" action="{% url 'asset_group' %}">
                                            <div class="input-group m-bot15">
                                                <input type="text" class="form-control" name="search_name" placeholder="group name">
                                                <span class="input-group-btn">
                                                <button class="btn btn-info" type="submit" >Search!</button>
                                                </span>
                                            </div>
                                            </form>
                                        </div>
                                <table class="table table-bordered table-striped table-condensed cf">
                                    <thead class="cf">
                                    <tr>
                                        <th class="text-center">主机组</th>
                                        <th class="text-center">主机数量</th>
                                        <th class="text-center numeric">备注</th>
                                        <th class="text-center numeric">操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for list in objects %}
                                    <tr>
                                        <td class="text-center"><a href="#">{{ list.name }}</a></td>
                                        <td class="text-center">{{ list.id|asset_group_num }}</td>
                                        <td class="numeric">{{ list.comment }}</td>
                                        <td class="text-center">
                                            <a class="btn btn-danger btn-xs" href="{% url 'asset_group_del' %}?group_id={{ list.id }}">删除</a>
                                            <a class="btn btn-success btn-xs" href="{% url 'asset_group_edit' %}?id={{ list.id }}">编辑</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                {% include "pagination.html" %}
                            </section>
                        </div>
                    </section>
                </div>
            </div>
            </div>
{% endblock %}
